.about__page--container {
  min-height: 90vh;
  background: url(../assets/hero-bg2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  .about__page--container {
    /* min-height: 90vh; */
    background: none;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    position: relative;
    z-index: 2;
  }
}
