/* MAIN CONTAINER */
.navbar__container {
    height: 10vh;
    background-color: rgb(89, 55, 242);
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem;
    font-size: 1.5rem;
}

.navbar__logo {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #000;
}
/* LINKS CONTAINER */
.navbar__links--container {
    display: flex;
}
/* SIDEBAR OPEN/CLOSE BUTTONS */
.sidebar__toggle--btn {
    display: none;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.sidebar__toggle--btn:hover {
    transform: scale(1.1);
}
/* RESPONSIVE NAVBAR */
@media screen and (max-width: 500px){
    .navbar__links--container {
        display: none;
    }
    .sidebar__toggle--btn {
        display: block;
    }
}
.navbar__link {
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.navbar__link:hover, .navbar__link:active{
    transform: scale(1.1);
    color: #fff;
}
.hidden {
    display: none;
}